apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: nri-namespace-isolator

namespace: kube-system

commonLabels:
  app.kubernetes.io/name: nri-namespace-isolator
  app.kubernetes.io/managed-by: kustomize

commonAnnotations:
  app.kubernetes.io/version: "latest"

resources:
  - ../crds/namespacequota.yaml
  - rbac.yaml
  - agent-daemonset.yaml
  - nri-plugin-daemonset.yaml

images:
  - name: ghcr.io/fulcro-cloud/namespace-isolation-agent
    newTag: latest
  - name: ghcr.io/fulcro-cloud/nri-namespace-isolator
    newTag: latest
